<head>

    <meta charset="utf-8">
    <!-- <base href="/"> -->

    <title>Портфолио</title>
    <meta name="description" content="Portfolio">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="icon" href="/images/dist/icons/Logo-main.svg" type="image/svg+xml">

    <link rel="stylesheet" href="css/app.min.css">

</head>