<footer class="footer">
    <div class="container footer__row">
        <div class="footer__copy">Название проекта © Ваше имя · 2023</div>
        <div class="footer__links">
            <div class="main-banner__socials">
                <a href="#" class="main-banner__social"><img src="/images/dist/icons/linkedin.svg" alt="#"></a>
                <a href="#" class="main-banner__social"><img src="/images/dist/icons/github.svg" alt="#"></a>
                <a href="#" class="main-banner__social"><img src="/images/dist/icons/behance.svg" alt="#"></a>
            </div>
        </div>
    </div>
</footer>